body{
    background-color: #162B32; color:whitesmoke 
}
.nav1{
    border-color: black; border-radius: 4px; background-color: #FF4838
; outline: thick; outline-color: black
}
.logo1img{
    height:40px;width:40px;
}
a{
    text-decoration: none;
     color: whitesmoke;"
}
