body{
	background-color: #162B32;
	color: whitesmoke;
}

.fnav{
	border-color: black;
	 border-radius: 4px; 
	 background-color: #FF4838;
	 outline: thick; 
	 outline-color: black;
	 text-decoration: none; 
	word-spacing: 05px;
	width: 105%;
	height: px;
	margin: -26px;
	position: fixed;
	word-spacing: 20px;
	text-align: center;
}
.fnava{
	color: whitesmoke;
	text-decoration: none;
}

.t2{
	border-radius: 2px solid black;
	background-color: black;
	color: white;
	width: 313px;
	height: 340px;
}

.dp{
	width: 100px; 
	border-radius: 100%
}

.tobgay{
	border-radius: 2px solid black;
	background-color: grey;
	color: white;
	width: 320px;
	margin-top: -340px;
	float:right; 
	height: 320x;
}

.thazay{
	border-radius: 2px solid black;
	background-color: orange; 
	color: black;
	width: 314px;
	margin-top: -359px;
	float:right; 
	margin-right: 640px;
	height: 340px;
}
.imba{
	border-radius: 2px solid black;
	background-color: skyblue; 
	color: black;
	width: 320px;
	margin-top: -359px;
	float:right; 
	margin-right: 320px;
	height: 340px;
}
