.navstyle{
    border-color: black; border-radius: 4px; background-color: orange; outline: thick; outline-color: black;
    }
    .logopogo{
        height:40px;width:40px;
    }
    body{
        }

        .ahref2{
            text-decoration: none;
            color:black
        }
