
body{
	background-color: #e3e0cf;
}

.div2{
	text-align: center;
}

.nav2{
	text-align: center;
	border-color: black; 
	border-radius: 4px; 
	background-color: orange;
	 outline: thick;
	outline-color: black;
	width: 100%;
	margin: -20px;
	height: auto;
	position: fixed;
	text-align: center;
	word-spacing: 15px;
	}

.a1	{
	color: black;
	height: 40px;
	width: 40px
	padding: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.a2{
	font-size: large;
	text-decoration: none; 
	color: darkblue;
}

a{
	text-decoration: none;
}

hr{"height: 20px;width: 100%; background-color: black;"}


h1{color: blue;}
